
/**********************************
 *       Global instruction       *
 **********************************/
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fbfbfb;
}

/**********************************
 *            Header              *
 **********************************/
 header{
     height: 100px;
     color: #fbfbfb;
     background-color: #4a6a8a;
     text-align: center;
 }

 header h1{
     margin: 0;
     padding: 25px;
 }
/**********************************
 *  Section - Part 1 - Spending   *
 **********************************/
/**********************************
 *  Section - Part 2 - Recipe     *
 **********************************/
/**********************************
 *  Section - Part 3 - Savings    *
 **********************************/
/**********************************
 *  Section - Part 4 - Result     *
 **********************************/
/**********************************
*             Footer              *
***********************************/